
@model CartViewModel

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Hexashop Ecommerce HTML CSS Template</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">

    <link rel="stylesheet" href="~/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="~/css/owl-carousel.css">

    <link rel="stylesheet" href="~/css/lightbox.css">
    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <link rel="stylesheet" href="~/css/cart.css">
    <!--

    TemplateMo 571 Hexashop

    https://templatemo.com/tm-571-hexashop

    -->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="~/Home/index" class="logo">
                            <img src="~/img/images/index_logo.png" style="width:130px;height:80px;">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#men">Revuelto</a></li>
                            <li class="scroll-to-section"><a href="#women">Temerario</a></li>
                            <li class="scroll-to-section"><a href="#kids">Urus_SE</a></li>
                            <li class="submenu">
                                <a href="#">Pages</a>
                                <ul>
                                    <li><a href="~/Home/about">About Us</a></li>
                                    <li><a href="~/Product/List">Products</a></li>
                                    <li><a href="~/Product/Details">Single Product</a></li>
                                    <li><a href="~/Home/contact">Contact Us</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="#">User</a>
                                <ul>
                                    <li><a href="~/Account/Login">Login</a></li>
                                    <li><a href="~/Account/Logout">Logout</a></li>
                                </ul>
                            </li>&nbsp;&nbsp;&nbsp;
                            <li class="scroll-to-section cart_count"><a href="~/Cart/Index"><img src="~/img/images/shopping_cart.svg" style="width:50px;">Cart(<span id="cartQuantity" style="color:red"></span>)</a></li>
                            <li class="scroll-to-section"><img src="~/img/images/user_pic.jpg" style="width:50px;"><span id="user_Name">尚未登入</span></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <br />
    <br />
    <br />
    <br />

    <section class="section" id="products">
        <div class="container_table" >
            <table>
                <thead>
                    <tr>
                        <th style="text-align:center; width:60px;">編號</th>
                        <th style="text-align:center; width:200px;">圖片</th>
                        <th style="text-align:center; width:100px;">車系</th>
                        <th style="text-align:center; width:200px;">車款</th>
                        <th style="text-align:center; width:100px;">單價</th>
                        <th style="text-align:center; width:60px;">訂購數量</th>
                        <th style="text-align:left; width:120px;">總額</th>
                        <th style="text-align:center; width:60px;">修改</th>
                        <th style="text-align:center; width:120px;">刪除全部</th>

                    </tr>
                    
                </thead>
                <tbody id="cartBody">
                    @Html.Partial("_CartTable", Model)
                </tbody>
            </table>
        </div>
    </section>



    


    <!-- jQuery -->
    @* <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> *@
    <script src="~/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/js/popper.js"></script>
    @* <script src="~/js/bootstrap.min.js"></script> *@

    <!-- Plugins -->
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/accordions.js"></script>
    <script src="~/js/datepicker.js"></script>
    <script src="~/js/scrollreveal.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imgfix.min.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/lightbox.js"></script>
    <script src="~/js/isotope.js"></script>


    <!-- Global Init -->
    <script src="~/js/custom.js"></script>


    </script>

    <!-- cart 購物數量即時更新 ajax 當每次進入不同頁面時-->
    <script>
        $(document).ready(function () {

            $.ajax({
                type: "POST",
                url: "/Cart/GetCartCount",
                data: {},
                dataType: 'json',
                withCredentials: true,
                success: function (result) {

                    if (result.success) {

                        $("#cartQuantity").text(result.totalQuantity); 更新購物車數量
                    }

                },
                error: function (xhr, status, error) {
                    alert("發生錯誤：" + error);
                }
            });

        });
    </script>

    <!-- Cart/Index 加1 ajax-->
    <script>
        $(document).ready(function () {  
            $(document).on("click", ".add_spec_cart_ajax", function () {
                var PID = $(this).data("pid"); // 取得ProductID

                $.ajax({
                    type: "POST",
                    url: "/Cart/AddSpecCart",
                    data: {PID:PID},
                    dataType: 'json',
                    withCredentials: true,
                    success: function (result) {
                        console.log(result);
                        if (result.success) {

                            $("#cartQuantity").text(result.totalQuantity); //更新購物車數量
                        }

                        $.get("/Cart/GetCartTable", function (data) {
                            console.log(data);
                            $("#cartBody").html(data);  // cartBody 是 <tbody id="cartBody">
                        });



                    },
                    error: function (xhr, status, error) {
                        alert("發生錯誤：" + error);
                    }
                });
            });
        });
    </script>

    <!-- Cart/Index 減1 ajax-->
    <script>
        $(document).ready(function () {     
            $(document).on("click", ".minus_spec_cart_ajax", function () {
                var PID = $(this).data("pid"); // 取得ProductID

                $.ajax({
                    type: "POST",
                    url: "/Cart/MinusSpecCart",
                    data: {PID:PID},
                    dataType: 'json',
                    withCredentials: true,
                    success: function (result) {

                        if (result.success) {

                            $("#cartQuantity").text(result.totalQuantity); //更新購物車數量

                            $.get("/Cart/GetCartTable", function (data) {
                            console.log(data);
                            $("#cartBody").html(data);  // cartBody 是 <tbody id="cartBody">
                        });
                        }else {
                            alert(result.message); // 如果 success = false 顯示訊息
                        }

                    },
                    error: function (xhr, status, error) {
                        alert("發生錯誤：" + error);
                    }
                });
            });

        });
    </script>

    <!-- Cart/Index 刪除 ajax-->
    <script>
        $(document).ready(function () {
            $(document).on("click", ".delete_spec_cart_ajax", function () {
                var PID = $(this).data("pid"); // 取得ProductID

                $.ajax({
                    type: "POST",
                    url: "/Cart/DeleteSpecCart",
                    data: {PID:PID},
                    dataType: 'json',
                    withCredentials: true,
                    success: function (result) {

                        if (result.success) {

                            $("#cartQuantity").text(result.totalQuantity); //更新購物車數量

                            $.get("/Cart/GetCartTable", function (data) {
                            console.log(data);
                            $("#cartBody").html(data);  // cartBody 是 <tbody id="cartBody">
                        });
                        }else {
                            alert(result.message); // 如果 success = false 顯示訊息
                        }

                    },
                    error: function (xhr, status, error) {
                        alert("發生錯誤：" + error);
                    }
                });
            });

        });
    </script>

    <script>
        $(document).ready(function() {
            // 每次確認是否登入 從cookie找資料
            $.ajax({
                type: "GET",
                url: "/Account/LoginCheck",
                dataType: 'json',
                success: function(result) {
                    $("#user_Name").text(result.loginName);

                }
            });
        });

    </script>

</body>
</html>