@model Lamborghini.Models.detailViewimgModel
@{
    Layout = "";
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Hexashop - Product Listing Page</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">

    <link rel="stylesheet" href="~/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="~/css/owl-carousel.css">

    <link rel="stylesheet" href="~/css/lightbox.css">

    <link rel="stylesheet" href="~/css/Myadd.css">
    <!--

    TemplateMo 571 Hexashop

    https://templatemo.com/tm-571-hexashop

    -->
</head>


<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="~/Home/index" class="logo">
                            <img src="~/img/images/index_logo.png" style="width:130px;height:80px;">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="~/Home/index" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="~/Home/index">Revuelto</a></li>
                            <li class="scroll-to-section"><a href="~/Home/index">Temerario</a></li>
                            <li class="scroll-to-section"><a href="~/Home/index">Urus_SE</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="~/Home/About">About Us</a></li>
                                    <li><a href="~/Product/List">Products</a></li>
                                    <li><a href="~/Product/Details">Single Product</a></li>
                                    <li><a href="~/Home/contact">Contact Us</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:;">Features</a>
                                <ul>
                                    <li><a href="#">Features Page 1</a></li>
                                    <li><a href="#">Features Page 2</a></li>
                                    <li><a href="#">Features Page 3</a></li>
                                    <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template Page 4</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="~/Home/index">Explore</a></li>
                            <li class="scroll-to-section"><a href="#explore">Login</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Check Our Products</h2>
                        <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** Products Area Starts ***** -->
    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Latest Products</h2>
                        <span>Check out all of our products.</span>
                    </div>
                    <div style="display:flex; justify-content:space-around;">
                        
                        <button class="car_btn" name="car_type" value="Revuelto">
                        Revuelto
                        </button>
                        <button class="car_btn" name="car_type" value="Temerario">
                            Temerario
                        </button>
                        <button class="car_btn" name="car_type" value="Urus_SE">
                            Urus_SE
                        </button>
                        
                    </div><br /><br />
                    <div style="display:flex; justify-content:space-around;">

                        <button class="car_btn_1" name="car_type" value="Aventador">
                            Aventador
                        </button>
                        <button class="car_btn_1" name="car_type" value="ConceptCars">
                            Concept_Car
                        </button>
                        <button class="car_btn_1" name="car_type" value="Huracán">
                            Huracán
                        </button>
                        <button class="car_btn_1" name="car_type" value="LimitedModel">
                            LimitedModel
                        </button>
                        <button class="car_btn_1" name="car_type" value="sportCar" >
                            sportCar
                        </button>

                    </div><br /><br />
                    
                </div>
            </div>
        </div>
        <div class="container" style="display:flex; flex-direction: column; align-items: center;">
            <div class="row" id="ajax_box">
                
                <!-- Product/List HTTP GET -->
                @if (Model.Title == "Revuelto" || Model.Title == "Temerario" || Model.Title == "Urus_SE")
                {
                    @foreach (var file in Model.Files)
                    {
                        <div class="col-lg-4">
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="~/Product/Details?car_type=@Model.Title&car_color=@file.Split("\\")[0]"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div style="width:350px; height:233.22px; overflow:hidden;">
                                        <img src="@Url.Content($"~/img/Lamborghini_pic/{Uri.EscapeDataString(Model.Title)}/{Uri.EscapeDataString(file)}")" style="width:100%; height:100%; object-fit:cover;">
                                    </div>
                                    
                                </div>
                                <div class="down-content">
                                    <h4>@file.Split("\\")[0]</h4>
                                    <span>$120.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    @foreach (var file in Model.Files)
                    {
                        <div class="col-lg-4">
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="~/Product/Details_1?car_type=@Model.Title&subtype=@file.Split("\\")[0]"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div style="width:350px; height:233.22px; overflow:hidden;">
                                        <img src="@Url.Content($"~/img/{Uri.EscapeDataString(Model.Title)}/{Uri.EscapeDataString(file)}")" style="width:100%; height:100%; object-fit:cover;">
                                    </div>
                                    
                                </div>
                                <div class="down-content">
                                    <h4>@file.Split("\\")[0]</h4>
                                    <span>$120.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
            <!-- 查看所有款式  -->
            <button class="botton-elegante" >查看所有款式</button>

        </div>
    </section>
    <!-- ***** Products Area Ends ***** -->
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="~/img/images/index_logo.png" style="width:130px;height:80px;">
                        </div>
                        <ul>
                            <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                            <li><a href="#">hexashop@company.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Shopping &amp; Categories</h4>
                    <ul>
                        <li><a href="#">Men’s Shopping</a></li>
                        <li><a href="#">Women’s Shopping</a></li>
                        <li><a href="#">Kid's Shopping</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Tracking ID</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>
                            Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved.

                            <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
                        </p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

 

    <!-- jQuery -->
    <script src="~/js/jquery-2.1.0.min.js"></script>



    <!-- Bootstrap -->
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/accordions.js"></script>
    <script src="~/js/datepicker.js"></script>
    <script src="~/js/scrollreveal.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imgfix.min.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/lightbox.js"></script>
    <script src="~/js/isotope.js"></script>

    <!-- Global Init -->
    <script src="~/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);

            });
        });

    </script>

    <!-- car_type 選擇 ajax-->
    <script>
        $(document).ready(function () {
            $(".car_btn").click(function () {
                var car_type = $(this).val();

                $.ajax({
                    type: "POST",
                    url: "/Product/List", 
                    data: { car_type: car_type },
                    dataType: 'json',
                    withCredentials: true,
                    success: function (result) {
                        console.log(result);

                        var html = "";
                        $.each(result.files, function (i, file) {
                            var carColor = file.split("\\")[0];
                            var imgSrc = "/img/Lamborghini_pic/" + encodeURIComponent(result.title) + "/" + encodeURIComponent(file);

                            html += `
        <div class="col-lg-4">
            <div class="item">
                <div class="thumb">
                    <div class="hover-content">
                        <ul>
                            <li><a href="/Product/Details?car_type=${encodeURIComponent(result.title)}&car_color=${encodeURIComponent(carColor)}"><i class="fa fa-eye"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <img src="${imgSrc}" alt="">
                </div>
                <div class="down-content">
                    <h4>${carColor}</h4>
                    <span>$120.00</span>
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>`;
                        });

                        $("#ajax_box").html(html); // 更新圖片區塊
                    },
                    error: function (xhr, status, error) {
                        alert("發生錯誤：" + error);
                    }
                });
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            $(".car_btn_1").click(function () {
                var car_type = $(this).val() + "_Lambo_pic";

                $.ajax({
                    type: "POST",
                    url: "/Product/List_1",
                    data: { car_type: car_type },
                    dataType: 'json',
                    withCredentials: true,
                    success: function (result) {
                        console.log(result);

                        var html = "";
                        $.each(result.files, function (i, file) {
                            var subtype = file.split("\\")[0];
                            var imgSrc = "/img/"+ encodeURIComponent(result.title) + "/" + encodeURIComponent(file);

                            html += `
        <div class="col-lg-4">
            <div class="item">
                <div class="thumb">
                    <div class="hover-content">
                        <ul>
                            <li><a href="/Product/Details_1?car_type=${encodeURIComponent(result.title)}&subtype=${encodeURIComponent(subtype)}"><i class="fa fa-eye"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div style="width:350px; height:233.22px; overflow:hidden;">
                        <img src="${imgSrc}" style="width:100%; height:100%; object-fit:cover;">
                    </div>
                </div>
                <div class="down-content">
                    <h4>${subtype}</h4>
                    <span>$120.00</span>
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>`;
                        });

                        $("#ajax_box").html(html); // 更新圖片區塊
                    },
                    error: function (xhr, status, error) {
                        alert("發生錯誤：" + error);
                    }
                });
            });
        });
    </script>


</body>

</html>
