@model CheckoutViewModel

<head>
    <link href="~/css/Checkout.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">

</head>

<p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:50px; justify-content:center; display:flex; margin-top:150px;">結帳頁</p>

<div id="wrapper">
    <div id="container">

        <div id="info">

            <br />
             
            <p style="font-family: 'Playfair Display', serif; font-style: italic; font-size: 24px; text-align:center; color:cornflowerblue;">
                Thank you for believing in Lambobo.
            </p>

            @* <p>Total price: </p> *@

            <div id="price">

                <h2>TWD @($"{Model.totalPrice:N0}")</h2>
            </div><br /><br /><br />
            <img src="~/img/images/index_logo.png" style="width:293px; object-fit:cover;">
        </div>

        <div id="payment">

            <form method="post" action="/Order/Confirm" id="checkout">
                @Html.AntiForgeryToken()
                <br /><br /><br /><br /><br /><br />

                <label>Credit Card Number</label>
                <input id="cardnumber" asp-for="Card.CardNumber" placeholder="0123-4567-8901-2345">
                <span asp-validation-for="Card.CardNumber" class="text-danger"></span>

                <label>Card Holder</label>
                <input id="cardholder" asp-for="Card.Name" placeholder="Cardholder">
                <span asp-validation-for="Card.Name" class="text-danger"></span>

                <label>Expiration Date</label>
                <label id="cvc-label">CVC/CVV</label>
                <div id="left">
                    <select asp-for="Card.Month" id="month" onchange="" size="1">
                        <option value="">MM</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <span asp-validation-for="Card.Month" class="text-danger"></span>
                    <p>/</p>
                    <select asp-for="Card.Year" id="year" onchange="" size="1">
                        <option value="">YY</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                    </select>
                    <span asp-validation-for="Card.Year" class="text-danger"></span>
                </div>


                <input id="cvc" asp-for="Card.Cvc" placeholder="Cvc/Cvv" maxlength="3" />
                <span asp-validation-for="Card.Cvc" class="text-danger"></span>

                <input class="btn" type="submit" name="purchase" value="送出">
            </form>
        </div>

    </div>
</div>

<!-- From Uiverse.io by marcelodolza -->
<button class="button" onclick="history.back()">
    <div class="wrap">
        <p>
            <span>✧</span>
            <span>✦</span>
            回上一頁
        </p>
    </div>
</button>

<script src="~/js/jquery-2.1.0.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}