@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Hexashop - Product Detail Page</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">

    <link rel="stylesheet" href="~/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="~/css/owl-carousel.css">

    <link rel="stylesheet" href="~/css/lightbox.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

    <link rel="stylesheet" href="~/css/login.css">
    <!--

    TemplateMo 571 Hexashop

    https://templatemo.com/tm-571-hexashop

    -->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="~/Home/Index" class="logo">
                            <img src="~/img/images/index_logo.png" style="width:130px;height:80px;">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="~/Home/index" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="~/Home/index">Revuelto</a></li>
                            <li class="scroll-to-section"><a href="~/Home/index">Temerario</a></li>
                            <li class="scroll-to-section"><a href="~/Home/index">Urus_SE</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="~/Home/About">About Us</a></li>
                                    <li><a href="~/Product/List">Products</a></li>
                                    <li><a href="~/Product/Details">Single Product</a></li>
                                    <li><a href="~/Home/Contact">Contact Us</a></li>
                                </ul>
                            </li>
                            
                            <li class="submenu">
                                <a href="#">User</a>
                                <ul>
                                    <li><a href="~/Account/Login">Login</a></li>
                                    <li><a href="~/Account/Logout">Logout</a></li>
                                </ul>
                            </li>&nbsp;&nbsp;&nbsp;
                            <li class="scroll-to-section cart_count"><a href="~/Cart/Index"><img src="~/img/images/shopping_cart.svg" style="width:50px;">Cart(<span id="cartQuantity" style="color:red"></span>)</a></li>
                            <li class="scroll-to-section"><img src="~/img/images/user_pic.jpg" style="width:50px;"><span id="user_Name">尚未登入</span></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
 
        <div class="wrapper">
            <div class="title"><span>登入表單</span></div>
        <form id="loginForm">
                <div class="row">
                    <i class="fas fa-user"></i>
                <input type="text" id="Account" placeholder="帳號/手機/信箱" required oninvalid="this.setCustomValidity('請輸入帳號/信箱/手機')"
                       oninput="this.setCustomValidity('')">
                </div>
                <div class="row">
                    <i class="fas fa-lock"></i>
                <input type="password" id="Password" placeholder="密碼" required oninvalid="this.setCustomValidity('請輸入密碼')"
                       oninput="this.setCustomValidity('')">
                </div>
                <div class="pass"><a href="#">忘記密碼?</a></div>
            <div id="errorMessage" style="color:red"></div>
                <div class="row button">
                    <input type="submit" value="登入" />
                </div>
                <div class="signup-link">Not a member? <a href="~/Account/Register">點我註冊</a></div>
            </form>
        </div>
   

    <!-- jQuery -->
    <script src="~/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/accordions.js"></script>
    <script src="~/js/datepicker.js"></script>
    <script src="~/js/scrollreveal.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imgfix.min.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/lightbox.js"></script>
    <script src="~/js/isotope.js"></script>
    <script src="~/js/quantity.js"></script>

    <!-- Global Init -->
    <script src="~/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);

            });
        });

    </script>


    <!-- 登入 ajax -->
    <script>
        $(document).ready(function(){
            $("#loginForm").on("submit", function(e){
                e.preventDefault(); // 阻止頁面跳轉

                var Account = $("#Account").val();
                var Password = $("#Password").val();
                // console.log("Account: ",Account);
                // console.log("Password: ",Password);


                $.ajax({
                    url: "/Account/Login_post",
                    type: "POST",
                    dataType: 'json',
                    data: { Account: Account, Password: Password },
                    success: function(res){
                        if(! res.success){
                            $("#errorMessage").text(res.message);

                        }else{
                            window.location.href = res.redirectUrl;
                        }
                    },
                    error: function(xhr){
                        console.log(xhr.responseText);
                        $("#errorMessage").text("伺服器錯誤");
                    }
                });
            });
        });



    </script>


    <!-- 註冊成功提示 -->
    @if (TempData["Message"] != null)
    {
        <script>
            alert(@Html.Raw(System.Text.Json.JsonSerializer.Serialize(TempData["Message"])));
        </script>
    }

   

    <!-- cart 購物數量即時更新 ajax 當每次進入不同頁面時-->
    <script>
        $(document).ready(function () {

            $.ajax({
                type: "POST",
                url: "/Cart/GetCartCount",
                data: {},
                dataType: 'json',
                withCredentials: true,
                success: function (result) {

                    if (result.success) {

                        $("#cartQuantity").text(result.totalQuantity); 更新購物車數量
                    }

                },
                error: function (xhr, status, error) {
                    alert("發生錯誤：" + error);
                }
            });

        });
    </script>

    <script>
        $(document).ready(function() {
            // 每次確認是否登入 從cookie找資料
            $.ajax({
                type: "GET",
                url: "/Account/LoginCheck",
                dataType: 'json',
                success: function(result) {
                    $("#user_Name").text(result.loginName);

                }
            });
        });

    </script>

</body>

</html>
